.bg-blue {
    background-color: #03A0F8 !important
}

.btn-primary {
    color: #fff;
    background-color: #7077E2;
    border-color: #7077E2;
}

.btn-primary:hover {
    background-color: #565FDC;
    border-color: #565FDC;
}

.btn-secondary-light {
    color: #222 !important;
    background-color: #ECF5FF;
    border-color: #ECF5FF;
}

.btn-secondary-light:hover {
    background-color: #D6E9FF;
    border-color: #D6E9FF;
}

.btn-secondary-light.hover-primary:hover{
    color: #fff !important;
    background-color: #565FDC !important;
    border-color: #565FDC !important;
}

.btn-success {
    color: #fff;
    background-color: #12A176;
    border-color: #12A176;
}

.btn-success:hover {
    background-color: #10936C;
    border-color: #10936C;
}

.row.required .control-label:after {
    content: " *";
    color: red;
}

.select-field {
    min-width: 136px
}

.date-input-field {
    max-width: 160px
}

.btn-fixed-height {
   max-height: 38px
}

.container-min-height {
    min-height: 100vh
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 28px;
}

